html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}


.column {
  float: left;
  padding: 0px;
  overflow: auto;
  
}

/* Left column */
.column.side {
  height:100%;
  width: 25%;
}

/* Middle column */
.column.middle {
  height:100%;
  width: 75%;
}

.column.bottomside {
  border-radius: 10px;
  height: 50%;
  width: 100%;
  background-color: #343332;

}

.row:after {
content: "";
display: table;
clear: both;
}



  .leaflet-bottom.leaflet-left{
    width: 100%;
  }
  .leaflet-control-container .leaflet-timeline-controls{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }



    a.more {
    color: #FFC107;
    text-decoration: underline;
    
  }
        a.more:hover {
    color: #46bee9;
    text-decoration: underline;
    
  }

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

#map {
    border-radius: 10px;
    padding: 0;
    margin: 0;
   
}

#topstate {
    border-radius: 10px;

  /*   width: 25%;*/
  background-color: #343332;


}

#topcounty {
  border-radius: 10px;


  background-color: #343332;


}



table {
border-collapse: collapse;
width: 100%;
}

th, td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#FFC107;}



a.more {
color: #FFC107;
text-decoration: underline;

}
a.more:hover {
color: #46bee9;
text-decoration: underline;

}



.note {
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
color:#FFC107;
font-size: 0.8em;
padding: 10px;
}

.infotitle {

padding: 10px;
text-align: left;
color:#FFC107;
font-size: 1.2em;
font-family: Tahoma, Geneva, sans-serif;
}

.infolist {

margin:1px;
margin-left:5px;
padding:1px;
text-align: left;
color: #FFFF;
font-size: 1em;
font-family: Tahoma, Geneva, sans-serif;
}




/* chart css*/




.topstate-chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}


